@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
}

.nav-link {
    font-weight: 600;
    margin-left: 8px;
}

.card {
    border-radius: 12px !important;
    box-shadow: 0px 1px 0px rgba(26, 26, 26, 0.07);
}

.herocard {
    /* width: 400px; */
    height: 200px;
}


.feature1Card {
    height: 400px;
}

#myChart {
    height: 200px !important;
    width: 200px !important;
    margin: 0 auto;
}